*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ----Main Container---- */
main{
    background-color: #e0e0e0;
    height: 100vh;
}

/* ----Nav Bar---- */
.nav-bar{
    width: inherit;
    height: 45.5px;
    padding-top: 2.1vh;
    display: flex; 
    justify-content: space-between;
    /* position: fixed; */
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 14px;

}
.nav-bar a::after{
    content: '';
    height: 2px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav-bar a:hover::after{
    width: 100%;
}
.tech-Projects{
    display: flex;
    padding-left: 2.1vh;

}

.information{
    padding-right: 2.1vh;
    display: flex;
}

/* Page Contents */
.page-content{
    width: 100vw;
    height: 100vh;

}
/* ----Home Hero---- */
.home-hero{
    width: inherit;
    height: 470px;
    /* background-color: white; */
    margin-top: 87px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main-title-mask{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    margin-left: 25vw;
    /* optional */
    text-transform: uppercase;
}
.main-title-mask h1{
    font-family: 'Gloock', serif;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 0;
}
